<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DiskoAIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <userSettings>
        <DiskoAIO.Properties.Settings>
            <setting name="TokenGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="Delay" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Webhook" serializeAs="String">
                <value />
            </setting>
            <setting name="SendWebhook" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AcceptRules" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BypassReaction" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckerGroup" serializeAs="String">
                <value />
            </setting>
            <setting name="UseProxies" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tk1" serializeAs="String">
                <value />
            </setting>
            <setting name="tk2" serializeAs="String">
                <value />
            </setting>
            <setting name="APIkey" serializeAs="String">
                <value />
            </setting>
            <setting name="Anti_Captcha" serializeAs="String">
                <value />
            </setting>
            <setting name="BypassCaptcha" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AIResponseRate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AIReplyRate" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ChatType" serializeAs="String">
                <value>AI</value>
            </setting>
            <setting name="TwitterGroup" serializeAs="String">
                <value />
            </setting>
        </DiskoAIO.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>